<!-- <section class="showcase">
    <div class="container">
        <div class="grid">
          <div class="grid-item-1">
            <div class="showcase-text">
              <h1>Search with SNP</h1>
              <p class="supporting-text"> Over 30,000 students currently learn with us</p>
            </div>
            <div class="showcase-form">
              <form action="">
                <input type="email" placeholder="Enter your email address">
                <input type="submit" class="btn" value="Start Learning">
              </form>
              <p class="little-info">Try out our free courses today. No risk, no credit card required</p>
            </div>
          </div>

          <div class="grid-item-2">
            <div class="image">
              <img src="./images/transparent.png" alt="">
            </div>
          </div>
       </div>

    </div>
</section> -->


<div class="grid-container">
    <div class="sidebar">
        <!-- <div *ngFor='let tt of trackTypes'>
            <input type="checkbox" style="color:black">{{tt}}
        </div> -->
        <div class="sidebar-container">
        <h3 style="text-align: center;">Genome Browser Parameters</h3>    
        <div class="egTrackTypeSelector">
            <ng-multiselect-dropdown
                [placeholder]="'Select Track Type(s)'"
                [data]="trackTypeOptions"
                [(ngModel)]="selectedTrackTypes"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (click)="turnOnTrackTypeDropDownClick()"
                (onDropDownClose)="updateTrackDataSource($event)">
            ></ng-multiselect-dropdown>
        </div>

        <div class="egDataSourceSelector">
            <ng-multiselect-dropdown
                [placeholder]="'Select Data Sources(s)'"
                [data]="trackDataSourceOptions"
                [(ngModel)]="selectedTrackDataSources"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (click)="turnOnTrackDataSourceDropDownClick()"
                (onDropDownClose)="updateTrackTissue($event)">
            ></ng-multiselect-dropdown>
        </div>

        <div class="egTissueSelector">
            <ng-multiselect-dropdown
                [placeholder]="'Select Tissue(s)'"
                [data]="trackTissueOptions"
                [(ngModel)]="selectedTrackTissues"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onSelectAll)="onSelectAll($event)"
            ></ng-multiselect-dropdown>
        </div>

        <button class="buttonViewer" (click)="openEpiBrowser()">Launch Epigenome Browser</button>

        </div>
    </div>

    <div class="Input">
        <div class="snpInput-container"> 

            <!-- <div class="snpInput"> -->
                    <div class="snpStrInput">
                        <a style="color: black;align-content: left;">Option #1</a>
                        <input type="text" placeholder="Search with SNPs (snp1;snp...)" name="snp"  class="form-control" [(ngModel)]="snpInput" required maxlength="100"/>
                    </div>
                    
                    <div class="snpFileInput">
                        <a style="text-align: left;color: black;">Option #2</a>
                        <input type="file" class="file-input" style="color:black"
                            (change)="onFileSelected($event)" #fileUpload>
                    </div>
            <!-- </div> -->
        </div> 
    </div>

    <mat-tab-group (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Epi Data Search"> 
            <div class="epiTab-grid-container">
                <!-- <div class = "searchParam"> -->
                    <!-- <div class="searchParam-container"> -->
                <div class="tissueSelector">
                            <ng-multiselect-dropdown
                                [settings]="dropdownSettings"
                                [placeholder]="'Select Tissue(s)'"
                                [data]="tissueOptions"
                                [(ngModel)]="searchParam.tissues"
                                (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                            ></ng-multiselect-dropdown>
                </div>

                <div class="dist">
                    <input type="text" placeholder="maximal distance (default +/-100k nt)" name="maxDist"  class="form-control" [(ngModel)]="searchParam.maxDist" required maxlength="20"/>
                </div>
                        
                        <!-- </div> -->
                <button class="buttonSearchDB" (click)="searchDB()">Search EpiDB</button>

                <button class="button-export" mat-raised-button color="primary" (click)="exportAsXLSX()">Export to Excel</button>

                <div class="epiTable-container" mat-elevation-z8>
                    <h3 style="text-align: center; color:darkblue">Epi Result Table</h3>
                    <mat-table matTableFilter [exampleEntity]="filterEntity" [filterType]="filterType" [dataSource]="tableDataSource" matSort>
                                    
                        <ng-container matColumnDef="DataSource">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="DataSource" [(ngModel)]="filterEntity.DataSource">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.DataSource}} </mat-cell>
                        </ng-container>
                                    
                        <ng-container matColumnDef="DataType">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="DataType" [(ngModel)]="filterEntity.DataType">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.DataType}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="Tissue">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Tissue" [(ngModel)]="filterEntity.Tissue">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Tissue}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="CellType">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="CellType" [(ngModel)]="filterEntity.CellType">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.CellType}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="CellLine">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="CellLine" [(ngModel)]="filterEntity.CellLine">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.CellLine}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="Description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Description" [(ngModel)]="filterEntity.Description">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Description}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Chr">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Chromosome" [(ngModel)]="filterEntity.Chr">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Chr}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="SnpPosition">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="SNP Position" [(ngModel)]="filterEntity.SnpPosition">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.SnpPosition}} </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="ChunkStartPos">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Chunk Start Position" [(ngModel)]="filterEntity.ChunkStartPos">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.ChunkStartPos}} </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="ChunkEndPos">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Chunk End Position" [(ngModel)]="filterEntity.ChunkEndPos">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.ChunkEndPos}} </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="Gene">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Linked Gene" [(ngModel)]="filterEntity.Gene">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Gene}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="EpiLinkScore">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="EpiLinkScore" [(ngModel)]="filterEntity.EpiLinkScore">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.EpiLinkScore}} </mat-cell>
                        </ng-container>
            
                        <ng-container matColumnDef="QTLPValue">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="P-Value" [(ngModel)]="filterEntity.QTLPValue">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.QTLPValue}} </mat-cell>
                        </ng-container>
                
                        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns; let i = index;" 
                            [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="onRowClicked(row, i)"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginatorQuery [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div> 
            </div>
        </mat-tab>

        <mat-tab label="Colocalization"> 
            <div class="coloc-container">
                <div class="select-data">
                    <div class="select-container">
                        <select  class="selectGWAS" [(ngModel)] = "qtlParam.dataset1" name="gwasDataList" placeholder="Select GWAS Data">
                            <!-- <option [ngValue]="undefined" hidden>Select GWAS Dataset</option> -->
                            <option value="" disabled selected>Select the 1st GWAS/QTL Dataset</option>
                            <option *ngFor = "let g of allColocDataList" [value]="g">{{g}}</option>
                        </select>
                        <select class="selectQTL" [(ngModel)] = "qtlParam.dataset2" name="qtlDataList" placeholder="Select QTL Data">
                            <!-- <option [ngValue]="undefined" hidden>Select QTL Dataset</option> -->
                            <option value="" disabled selected>Select the 2nd GWAS/QTL Dataset</option>
                            <option *ngFor = "let q of allColocDataList" [value]="q">{{q}}</option>
                        </select>
                    </div>
                </div>

                <div class="pval-cutoff">
                    <div class="pval-container">
                        <input class="p1val" type="text" placeholder="p1 cutoff (default 1e-4)" name="p1" [(ngModel)]="qtlParam.p1" required maxlength="10"/>
                        <input class="p2val" type="text" placeholder="p2 cutoff (default 1e-4)" name="p2" [(ngModel)]="qtlParam.p2" required maxlength="10"/>
                        <input class="p12val" type="text" placeholder="p12 cutoff (default 1e-6)" name="p12" [(ngModel)]="qtlParam.p12" required maxlength="10"/>
                    </div>
                </div>

                <div class="dist">
                    <input type="text" placeholder="maximal distance (default +/-500k nt)" name="maxDistColoc"  class="form-control" [(ngModel)]="qtlParam.maxDist" required maxlength="20"/>
                </div>
                
                <button class="buttonRunQTL" (click)="runQTL()">Run Colocolization</button>

                <div class="table-container-coloc" mat-elevation-z8>
                    <h2 style="text-align: center; color:darkblue">Coloc Result Table</h2>
                    <mat-table matTableFilter [exampleEntity]="filterEntity2" [filterType]="filterType2" [dataSource]="tableDataSource2" matSort>
                        <ng-container matColumnDef="IndexSnp">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Indexing SNP" [(ngModel)]="filterEntity2.IndexSnp">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> 
                                <button class="button-exp" mat-flat-button (click)="openTopSnpDialog(row)">{{row.IndexSnp}} </button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="Gene">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Gene (QTL only)" [(ngModel)]="filterEntity2.Gene">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.Gene}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="NumOfSnp">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="Number of SNPs" [(ngModel)]="filterEntity2.NumOfSnp">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.NumOfSnp}} </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="H0_abf">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="H0_abf" [(ngModel)]="filterEntity2.H0_abf">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.H0_abf | number:'1.1-5'}} </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="H1_abf">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="H1_abf" [(ngModel)]="filterEntity2.H1_abf">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.H1_abf| number:'1.1-5'}} </mat-cell>
                        </ng-container>
                
                        <ng-container matColumnDef="H2_abf">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="H2_abf" [(ngModel)]="filterEntity2.H2_abf">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.H2_abf | number:'1.1-5'}}  </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="H3_abf">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="H3_abf" [(ngModel)]="filterEntity2.H3_abf">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.H3_abf | number:'1.1-5'}}  </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="H4_abf">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>
                                <mat-form-field appearance="legacy">
                                    <input matInput placeholder="H4_abf" [(ngModel)]="filterEntity2.H4_abf">
                                </mat-form-field>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.H4_abf | number:'1.1-5'}}  </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns2; let i = index;" 
                            [ngClass]="{hovered: row.hovered, highlighted: row.highlighted}" (click)="onRowClicked2(row, i)"
                            (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginatorColoc [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
                </div> 
            </div>
        </mat-tab>
      </mat-tab-group>

    <mat-progress-spinner style="margin:0 auto;"  
                          [mode]="'indeterminate'" 
                          *ngIf="loading$ | async"></mat-progress-spinner>

</div>

