.list-group-item{
    list-style: none;
    font-size: 16px;
    /* font-weight: bold; */
    color: black;
    background-color: #ffffff;
    /* input[type=checkbox]{
        height: 20px;
        width: 20px;
        vertical-align:middle;
    }*/
    /* div.child-list{
        margin-top: 10px;
        .list-group-item{
            background-color: #fff;
        }
    }  */
}