<!-- 

<div class="container">
  <div class="DE-plots">
    <div *ngFor="let item of this.dataService.exprDEData | keyvalue">
      <app-plot-bulk-rnaseq-expr [data]=item.value></app-plot-bulk-rnaseq-expr>
    </div>
  </div>


  


  <div class="DE-data">
    <app-study-de-table></app-study-de-table>
    <div class="Gene-Expr-Plot">
      Single gene Expr plot
      <app-study-gene-expr-plot></app-study-gene-expr-plot>
    </div>
  </div>

  <div class="WGCNA-Plot">
    <div class="Target-Module-Pathway-enrichment">
      Target module top 10 pathway enrichment
    </div>
    <div class="WGCNA-Module-Heatmap">
      <app-plot-wgcna-correlation-heatmap [data]=this.dataService.exprWGCNAData></app-plot-wgcna-correlation-heatmap>
    </div>
    <div class="WGCNA-2nd-Plot">
      soft power threshold pick
    </div>
    <div class="TBD">
      TBD
    </div>
  </div>
</div> -->

<div class="container">
  <div class="Volcano-plots">
    <div *ngFor="let item of this.dataShareService.DEData | keyvalue">
      <app-plot-bulk-rnaseq-expr [data]=item.value></app-plot-bulk-rnaseq-expr>
    </div>
  </div>

  <div class="select-study-container">
    <select class="selectStudy" [(ngModel)]="dataShareService.selectedStudy" (ngModelChange)="refreshStudyPlots()" name="studList" placeholder="Select Study">
      <option *ngFor="let g of studies" [value]="g">{{g}}</option>
    </select>
  </div>

  <div class="Metadata">
    <app-study-metadata-table></app-study-metadata-table>
  </div>

  <div class="DE-result">
    <div class="DE-table">
      <app-study-de-table></app-study-de-table>
    </div>
    <div class="Single-Gene-Expr">
      <app-study-gene-expr-plot></app-study-gene-expr-plot>
    </div>
  </div>

  <div class="WGCNA">
    <div class="WGCNA-Correlation">
      <app-plot-wgcna-correlation-heatmap></app-plot-wgcna-correlation-heatmap>
    </div>

    <div class="WGCNA-Dendrogram">
      <app-wgcna-dendrogram-plot></app-wgcna-dendrogram-plot>
    </div>

    <div class="WGCNA-PathwayEnrichment">
      <app-wgcna-pathway-table></app-wgcna-pathway-table>
    </div>
    
    <div class="TBD">
      
    </div>
  </div>
</div>