<!-- <ngx-charts-heat-map
  [view]="[700,400]"
  [scheme]="aqua"
  [legend]="legend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxis]="xAxis"
  [yAxis]="yAxis"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [results]="multi"
  (select)="onSelect($event)"
  (activate)="onActivate($event)"
  (deactivate)="onDeactivate($event)"
  >
</ngx-charts-heat-map> -->

<div class="WGCNA-corImg-header">
  <!-- <h3 style="color:navy">WGCNA Correlation Plot</h3> -->
  <div class="WGCNA-corImg-tip">
    <p> This heatmap shows the correlation and P-value of each WGCNA gene module to the target metadata variable</p>
  </div>
</div>

<div class="img-container">
  <img id="img-WGCNA-cor" [src]='img' alt="WGCNA correlation plot is not available" />
</div>