<div class="select-comparison-container">
    <label style="height:100%"><a href="https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc={{study}}">{{study}}</a></label>
    <select  class="selectComparison" [(ngModel)] = "selectedComparison" (ngModelChange)="refreshPlot()" name="comparisonList" placeholder="Select Comparison">
        <option *ngFor = "let g of comparisons" [value]="g">{{g}}</option>
    </select>
</div>

<div style="display: block; width: 600px; height: 500px;">
    <canvas baseChart
        [datasets]="bubbleChartDatasets"
        [options]="bubbleChartOptions"
        [type]="'bubble'">
    </canvas>
</div>
