<p>plot bulk rnaseq expr component </p>

<div class="plot-area">
    <ngx-charts-bubble-chart
        [view]=[400,400]
        [results]="bubbleData"
        [xAxis]="this.showXAxis"
        [yAxis]="this.showYAxis"
        [legend]="this.showLegend"
        [showXAxisLabel]="this.showXAxisLabel"
        [showYAxisLabel]="this.showYAxisLabel"
        [xAxisLabel]="this.xAxisLabel"
        [yAxisLabel]="this.yAxisLabel"
        [minRadius]="this.minRadius"
        [maxRadius]="this.maxRadius"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
    </ngx-charts-bubble-chart>
</div>



<div class="test">
    <h2>this is a post chart test string</h2>
</div>