<!-- <div class="plot-area">
    <ngx-charts-bubble-chart
        [view]=[400,400]
        [results]="bubbleData"
        [xAxis]="this.showXAxis"
        [yAxis]="this.showYAxis"
        [legend]="this.showLegend"
        [showXAxisLabel]="this.showXAxisLabel"
        [showYAxisLabel]="this.showYAxisLabel"
        [xAxisLabel]="this.xAxisLabel"
        [yAxisLabel]="this.yAxisLabel"
        [minRadius]="this.minRadius"
        [maxRadius]="this.maxRadius"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)">
    </ngx-charts-bubble-chart> 
</div>-->
<div style="display: block; width: 500px; height: 400px;">
    <canvas baseChart
        [datasets]="bubbleChartDatasets"
        [options]="bubbleChartOptions"
        [type]="'bubble'">
    </canvas>
</div>
