.mat-row.hovered {
    background: #eee;
  }
  
  .mat-row.highlighted {
    background: #999;
  }

  
  .WGCNA-pathway-table{
    width:100%;
    height:90%;
    /* border: 2px solid rgb(161, 174, 175); */
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

