<div *ngIf=showViewer>
    <!-- <chart-controller *ngIf=showViewer
    title-text="A 2-minute starter of building a genome browser with GIVE" 
    ref="hg19" 
    num-of-subs="2" 
    coordinate='["chr18:19140000-19450000"]'
    group-id-list='["genes", "singleCell", "customTracks","CHi-C_promoter"]'
    ></chart-controller> -->

    <chart-controller ref="hg38" num-of-subs="2"
        group-id-list='["genes", "TAD", "ChIP-Seq"]'
        coordinate='["chr1:3840000-6000000"]'
        default-track-id-list='["knownGene","GSE74179 H3K4me3 DTP", "exampleBed", "exampleBW", "exampleInteractions"]'>
    </chart-controller>

    <!-- <chart-controller ref="hg19" coordinate='["chr17:35504032-35512777"]'
    group-id-list='["genes", "singleCell", "customTracks"]'>
    </chart-controller> -->

    <!-- <chart-controller *ngIf=showViewer
        title-text="Genome browser with GIVE" 
        ref='["hg19"]' 
        num-of-subs="1"
        coordinate='["chr18:19140000-19450000"]'
        group-id-list='["genes", "singleCell", "customTracks","CHi-C_promoter","ENCODE2_ChIA-PET"]'
    ></chart-controller> -->

    
</div> 