.container {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 600px 20px 400px 400px 1100px;
  grid-auto-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas:
    "Volcano-plots"
    "Study-Selector"
    "DE-result"
    "Metadata"
    "WGCNA";
}

.Volcano-plots { 
  grid-area: Volcano-plots; 
  display: flex;
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
  min-height: 500 px;
  border: 2px solid rgb(161, 174, 175);
}

.select-study-container {
  grid-area: Study-Selector;
  max-height: 30px;
}

.Metadata {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: Metadata; 
  width: 100%; 
  height: 100%; 
}

.DE-result  {
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    "DE-table Single-Gene-Expr"; 
  justify-content: stretch; 
  align-content: stretch; 
  justify-items: stretch; 
  align-items: stretch; 
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: DE-result; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 400px;
}
.DE-table {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: DE-table; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 400px;
}
.Single-Gene-Expr {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: Single-Gene-Expr; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 400px;

}

.WGCNA {
  display: grid; 
  grid-template-columns: 0.8fr 1.2fr ; 
  grid-template-rows: 0.875fr 0.75fr 0.5fr; 
  gap: 5px 5px; 
  grid-template-areas: 
    "WGCNA-Correlation WGCNA-GeneInfo"
    "WGCNA-Dendrogram WGCNA-PathwayEnrichment"
    "TBD TBD"; 
  grid-area: WGCNA; 
}
.WGCNA-Correlation {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: WGCNA-Correlation; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 500px;
}
.WGCNA-Dendrogram {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: WGCNA-Dendrogram; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 500px;
}
.WGCNA-PathwayEnrichment {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: WGCNA-PathwayEnrichment; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 500px;
}
.WGCNA-SampleTree {
  justify-self: stretch; 
  align-self: stretch; 
  grid-area: TBD; 
  /* width: 100%; 
  height: 100%;  */
  max-height: 500px;
}



