.grid-container {
    display: grid;
    grid-template-areas:
        'input input'
        'main main';
    gap: 30px 30px;
    background-color: #ffffff;
    padding: 15px;
    position: relative;
    width: 100%;
}

.input-container {
    grid-area: input;
    display: grid;
    grid-template-areas:
        'geneInput disease tissue tip'
        'distance submit other1 empty';
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr;
    background-color: #b3cdd1;
    background-image: linear-gradient(315deg, #d8e7ea 0%, #cccedb 74%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    /* align-items:flex-start; */
    width: 100%;
    min-height: 80px;
    max-height:130px;
    gap:5px 5px;
    color: black;
    padding: 10px;
    z-index: 1;
}


.geneStrInput {
    grid-area: geneInput;
    height: 100%;
}

.disease-select-container {
    grid-area: disease;
    width:100%;
    z-index: 2;
}

.tissue-selector {
    grid-area: tissue;
    color: black;
    width: 95%;
    z-index: 2;
}

.dist-container {
    grid-area: distance;
    max-height: 30px;
}

.button-submit {
    grid-area: submit;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
    height:90%;
    width:100%
}
.button-submit:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-submit:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-submit:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

.mat-tab-group {
    grid-area: main;
    /* background-color: #ffffff; */
    background-image: linear-gradient(315deg, #ffffff 0%, #eceef8 74%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
    -webkit-box-shadow: 3px 3px 10px 3px #dddddd;
    -moz-box-shadow: 3px 3px 10px 3px #dddddd;
    box-shadow: 3px 3px 10px 3px #dddddd;
    color: black;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

::ng-deep .mat-tab-label
.genetics-grid-container {
    display: grid;
    grid-template-areas:
        'table table'
        'lzp1 lzp2'
        'lzp3 lzp4'
        'lzp5 lzp6';
    grid-gap: 5px;
    /* background-color: rgb(227, 230, 233); */
    padding: 5px;
    position: relative;
    width: auto;
}

.table-container-hypercoloc {
    grid-area: table;
    width: auto;
}

.img-container1 {
    grid-area: lzp1;
    align-items: flex-start;
}

.img-container2 {
    grid-area: lzp2;
    align-items: flex-start;
}

.img-container3 {
    grid-area: lzp3;
    align-items: flex-start;
}

.img-container4 {
    grid-area: lzp4;
    align-items: flex-start;
}

.img-container5 {
    grid-area: lzp5;
    align-items: flex-start;
}

.epi-grid-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tab-content.loading {
    opacity: 0.2;
    pointer-events: none;;
}

.ng-dropdown-panel {
    z-index:9999 !important;
}



.genetics-table-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.help-tip1,
.help-tip2 {
    grid-area: tip;
    position: relative;
    top: 0px;
    right: 0px;
    text-align: center;
    background-color: #6c7275;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-size: 14px;
    line-height: 26px;
    cursor: default;
  }
  
  .help-tip1:before,
  .help-tip2:before {
    content:'?';
    font-weight: bold;
    color:#fff;
  }
  
  .help-tip1:hover p,
  .help-tip2:hover p {
    display:block;
    transform-origin: 100% 0%;
    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
  }
  
  .help-tip1 p,
  .help-tip2 p{    /* The tooltip */
    display: none;
    text-align: left;
    background-color: #1E2021;
    padding: 10px;
    width: 600px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    right: -4px;
    color: #FFF;
    font-size: 16px;
    line-height: 1.4;
    z-index: 9999;
  }
  
  .help-tip1 p:before,
  .help-tip2 p:before { /* The pointer of the tooltip */
    position: absolute;
    content: '';
    width:0;
    height: 0;
    border:6px solid transparent;
    border-bottom-color:#1E2021;
    right:10px;
    top:-12px;
  }
  
  .help-tip1 p:after,
  .help-tip2 p:after { /* Prevents the tooltip from being hidden */
    width:100%;
    height:80px;
    content:'';
    position: absolute;
    top:-40px;
    left:0;
  }
  
  /* CSS animation */
  
  @-webkit-keyframes fadeIn {
    0% { 
        opacity:0; 
        transform: scale(0.6);
    }
  
    100% {
        opacity:100%;
        transform: scale(1);
    }
  }
  
  @keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
  }